@font-face {
    font-family: Mont;
    src: url("Raleway-Medium.ttf");
}

html,body{
    overflow-x:hidden;
    width: 100%;
    font-family: Mont;
    font-style:normal;
    font-size:14px;
}

header{
    display: flex;
    flex-direction: row;
    padding: 1px 1px 1px 1px;
    margin: 1px 190px 180px 1px;
}

.logo{
    width: 80px;
    height: 80px;
    size: 80px;
    margin: 1px 90px 166px 26px;
}

.logo img{
    width: 80;
    height: 80;
}

h1{
    margin: 45px 102px 0 132px;
}

nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;

}
nav li{
    padding: 0 10px 0 0;
}

.main{
    margin: 0 30px 0 30px;
}

.sidebar{
    float: right;
}

footer{
    margin: 0 30px 0 30px;
}